@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  padding: 70px;
  width: 100%;
  @include flex-col();
  row-gap: 40px;
  background: #90d4c5;
  color: #2b7464;
  .logo {
    font-size: 20px;
  }
  .links {
    column-gap: 58px;
  }
  .socials {
    padding-top: 40px;
    column-gap: 25px;
    font-size: 24px;
  }
  a:hover {
    color: white;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  .footer-container {
    padding: 60px;
    .logo {
      font-size: 18px;
    }
    .links {
      column-gap: 50px;
      font-size: 14px;
    }
    .socials {
      padding-top: 20px;
      font-size: 20px;
    }
  }
}
