@mixin flex-row-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hero-container {
  .background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .content {
    @include flex-col();
    row-gap: 100px;
    color: white;

    /* Navbar */
    nav {
      padding: 44px;
      width: 100%;
      @include flex-row-sb();

      .navbar {
        column-gap: 48px;
        .active {
          color: #272f40;
          text-decoration: underline;
          text-decoration-thickness: 2px;
        }
      }
    }

    /* Down Arrow */
    .icon:hover {
      transform: translateY(-12px);
      transition: transform 0.2s;
    }
  }

  a:hover {
    color: #272f40;
  }
}

/* Contact Button CTA */
.contact-btn a {
  background: #fff;
  border-radius: 26px;
  padding: 16px 24px;
}
.contact-btn:hover a {
  background: hsla(0, 0%, 100%, 0.329);
  color: #fff !important;
}
