/* ROWS OF CONTENT : 2 BOXES EACH */
.row-container {
  width: 100%;
  height: 460px;
  display: flex;
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  > div {
    width: 50%;
  }

  .text-box {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 48px;

    .subheading {
      margin-bottom: -25px;
    }

    ul {
      display: block;
      list-style: disc;
    }

    /* CTA Link Underline */
    .cta::before {
      content: "";
      display: block;
      margin-left: -4.5px;
      margin-bottom: -18px;
      width: 84px;
      border-radius: 4px;
      border-bottom: 8px solid hsla(51, 100%, 50%, 0.365);
    }
    a:hover::before {
      border-bottom: 8px solid hsl(51, 100%, 50%);
    }

    /* Work Page: two links with different colors */
    .links {
      display: flex;
      column-gap: 54px;
      .cta {
        &:nth-child(1):before {
          border-bottom: 8px solid hsla(51, 100%, 50%, 0.365);
        }
        &:nth-child(2):before {
          border-bottom: 8px solid hsla(18, 99%, 50%, 0.365);
        }

        &:hover {
          &:nth-child(1):before {
            border-bottom: 8px solid hsl(51, 100%, 50%);
          }
          &:nth-child(2):before {
            border-bottom: 8px solid hsl(18, 99%, 50%);
          }
        }
      }
    }
  }

  &:nth-child(even) {
    .text-box {
      .cta::before {
        border-bottom: 8px solid hsla(18, 99%, 50%, 0.365);
      }
      a:hover::before {
        border-bottom: 8px solid hsl(18, 99%, 50%);
      }
    }
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  .row-container {
    height: 360px;
    .text-box {
      padding: 54px;
      row-gap: 36px;
      .links {
        justify-content: space-between;
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .row-container {
    height: unset;
    flex-direction: column;
    &:nth-child(odd) {
      flex-direction: column;
    }
    > div {
      width: 100%;
      height: 300px;
    }
    .text-box {
      row-gap: 32px;
    }
  }
}
