@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Playfair+Display:wght@700&family=Poppins:wght@500;600;800&display=swap");

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: #5a636c;
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  @include flex-col();
  overflow-x: hidden;
}

/* General Styles */
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
}
ul {
  list-style: none;
  display: flex;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text Classes */
.title {
  color: white;
  font-family: "Fraunces", serif;
  font-size: 54px;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.heading {
  color: $very-dark-desaturated-blue;
  font-family: "Fraunces", serif;
  font-size: 38px;
  font-weight: 900;
}
.description {
  color: $dark-grayish-blue;
  font-size: 18px;
  line-height: 28px;
}
.cta {
  color: $very-dark-desaturated-blue;
  font-family: "Fraunces", serif;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.logo {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -0.25px;
}
.navbar {
  font-size: 18px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  .title {
    font-size: 38px;
    letter-spacing: 8px;
  }
  .heading {
    font-size: 32px;
  }
  .description {
    font-size: 15px;
    line-height: 24px;
  }
  .cta {
    font-size: 14px;
  }
  .logo {
    font-size: 18px;
    letter-spacing: 0.25px;
  }
  .navbar {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 32px;
    letter-spacing: 5px;
  }
  .heading {
    font-size: 24px;
  }
  .description {
    font-size: 14px;
    line-height: 22px;
  }
  .cta {
    font-size: 13px;
  }
}
